<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Hi - DemoClient</title>
	<script>
	{% with msgs = get_flashed_messages() %}
		{% if msgs %}
			{# fix &#39 showing up #}
			{% for msg in msgs %}
				alert("{{ msg }}");
			{% endfor %}
		{% endif %}
	{% endwith %}
	function login() {
		window.open("http://127.0.0.1:5000/oauth/authorize?resType=code&cid=OAuthDemoClient&redirUrl=http://127.0.0.2:5000/callback&scope=read");
		document.getElementById("content").innerHTML = "Refresh this page once you've logged in.";
	}
	</script>
	</head>
	<body>
		<h1>Client</h1>
		<div id="content">
			<button onClick = "login()">Click here to login using DemoServer</button>
		</div>
	</body>
</html>
