<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Allow access? - OAuthServer</title>
	</head>
	<body>
		<h1>Server</h1>
		<h2>Prompt</h2>
		Hi <strong>{{ name }}</strong>, application {{ authData.cid }} is requesting {{ authData.scope }} level access to your account. <br />
		If you grant access, {{ authData.cid }} will be able to access your secret data. <br />
		<form action="/oauth/authorize" method = "POST">
			<input type = "radio" name = "accept" value = "true" />Grant
			<input type = "radio" name = "accept" value = "false" />Deny
			<br />
			<input type = "hidden" name = "csrfprotect" value = "{{ authData.authKey }}" />
			<input type = "submit" value = "Proceed!" />
		</form>
	</body>
</html>
